body{
overflow-x:hidden;
}

.contenedor{
    position: relative;
    display: inline-block;
    text-align: center;
}
 
.centrado{
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
}

.contenedor img{
width:1100px;
height:600px;
    top: 0%;
    left: 20%;
    transform: translate(3%, 5%);
}


.contenedor .centrado img{
width:600px;
height:600px;
}

.texto-encima{
 position: absolute;
    top: 18%;
    left: 11%;
    transform: translate(-50%, -50%);
font-size:35px;
font-family: Helvetica;
color:#E5E5E5;
text-shadow: 0 0 0.2em #CCCCCC;
}

.texto-encim{
 position: absolute;
    top: 35%;
    left: 24%;
    transform: translate(-50%, -50%);
font-size:100px;
font-family: Segoe Print;
color:#E5EEF2;
text-shadow: 0 0 0.2em #fff;
}

.texto-enci{
 position: absolute;
    top: 58%;
    left: 22%;
    transform: translate(-50%, -50%);
font-size:200px;
font-family:Garamond;
color:#fff;
text-shadow: 0 0 0.2em #fff;
}

.nav{
    position: absolute;
    top: 0%;
    left: 10%;
    transform: translate(-50%,50%);

}

#header img{
position:center;
}


ul, ol{
list-style:none;
}

.nav li a {
background-color:#919AA4;
color:#fff;
text-decoration:none;
text-align=right;
padding:10px 15px;
display: block;
}

.nav li a:hover{
background-color:#434343; 
}

.nav > li {
float:left;
}

.nav li ul{
display: none;
position:absolute;
min-width:140px;
}

.nav li:hover > ul{
display:block;
right:31px;
top:40px;

}

.nav li ul li {
position:relative;
}






.info{
float:left;
width:470px;
margin:50px 10px 0px 22px;
padding:10px 10px 0px 10px;
font-family: sans-serif;
}

.info h3{
color:#131313;
font-size:25px;
}

.info ul li{
color:#aaa;
list-style-type:disc;
font-size:20px;
}

.datos{
float:left;
width:400px;
margin:46px 0px 0px 215px;
padding: 10px 10px 10px 10px;
font-family: sans-serif;
}

.infonumeros{
width:600px;
}

.datos h3{
color:#131313;
font-size:25px;
}
.datos .textonegro{
font-family: sans-serif;
font-size:20px;
color:#131313;

}

.datos .textogris{
font-family: sans-serif;
font-size:20px;
color:#aaa;

}

.numeros{
float:left;
width:400px;
margin:-120px 0px 0px 22px;
padding:10px 0px 0px 10px;
font-family: sans-serif;
}

.numeros h3{
color:#131313;
font-size:25px;
}

.numeros .textonegro{
font-family: sans-serif;
font-size:20px;
color:#131313;
font-size:60px;
padding:0px 0px 0px 0px;
margin: 0px 0px 0px 0px;

}

.numeros .textogris{
font-family: sans-serif;
font-size:20px;
color:#aaa;
}


.palmares{
float:left;
width:400px;
height:350px;
margin: 0px 0px 0px 0px;
padding: 0px 0px 0px 0px;
font-family: sans-serif;
}

.palmares h3{
color:#131313;
font-size:25px;
}

.palmares .textonegro{
font-family: sans-serif;
font-size:20px;
color:#131313;
}

.palmares .textogris{
font-family: sans-serif;
font-size:20px;
color:#aaa;
}

.palmares img{
top: 0%;
left: 0%;
transform: translate(10%,-4%);
}

.palmares h2{
line-height: 5px;
font-size:40px;
}
.palmares h3{
line-height: 5px;
}

.palmares .lista ul{
top: 0%;
left: 0%;
transform: translate(33%,-180%);
font-family: sans-serif;
font-size:20px;
}

.jugesc{
float:left;
width:305px;
height:400px;
margin: -150px 0px 0px 0px;
padding: 0px 0px 0px 0px;
}

.jugesc img{
width:300px;
height:370px;
}

