body{
background-image:url(fondoduodecima.jpg);
background-repeat:no-repeat;
background-size:1200px 780px;
background-attachment:fixed;
overflow-x:hidden;
}

h1{
font-size:45px;
}

.image img{
border-color:#8E8D8D;
}

img{
border-color:#8E8D8D;
}

.gale img{
width:480px;
height:330px;
}